:root {
    --dark-theme: #1e1e1e;
    --dark-values-bg-color: #333333;
    --dark-theme-outline: #101010;
}
body {
    background-color: var(--dark-theme);
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#viewport.color {
    height: 60.94257854821235%;
    width: 40.09265858873842%;
    justify-self: center;
    border-radius: 5%;
    outline: 0.25em solid var(--dark-theme-outline);
}

#values.container {
    position: absolute;
    background-color: var(--dark-values-bg-color);
    width: 40.09265858873842%;
    height: 30.67172264355363%;
    justify-self: center;
    bottom: 0;
    margin-bottom: 25px;
    border-radius: 25px;
    outline: 0.25em solid var(--dark-theme-outline);
}